<!-- HTML results page by Rhys Hegyi -->

<!-- Toolbar -->
<ion-header>
  <ion-toolbar>
    <ion-title>Law NLP Project</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Displaying Results -->
<ion-content>
  <ion-item-divider>
    <h2> Results: </h2>
  </ion-item-divider>
  
  <ion-item>
    <p id = "results" [innerHTML] = "result" >
      results will appear here
    </p>
  </ion-item>

  <!-- Buttons -->
  <ion-button (click)="goToTop()" expand="full" color="success" >
    Go back to top
  </ion-button>

<ion-button expand = "full" class = "button"  routerLink="" >Home</ion-button>
</ion-content>
